%h2 Editing post
= render :partial => "form", :locals => {:post => @post}
%ul
  %li= link_to 'Show', @post
  %li= link_to 'Back', posts_path
  %li= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete  